*{
    font-family: monospace;
    margin: 0;
    padding: 0;
}
body{
    background-color: pink;
}
.heading{
    margin: 250px auto 0;
    background-color: rgba(255, 251, 0, 0.89);
    padding: 60px;
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.heading:hover{
    background: linear-gradient(45deg, #ff6b6b, #f6d365, #96e6a1);
    background-size: 300% 300%;
    animation: gradientMove 3s ease infinite;
    
    @keyframes gradientMove {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }

}
h1{
    text-align: center;
    font-size: 28px;
}
.begin{
 display: block;
 background-color: antiquewhite;
 margin: 20px auto 0;
 font-weight: 700;
 padding: 20px;
 cursor: pointer;
 box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
 border: none;
 width: 90px;
 border-radius: 8px;
}
.begin:hover{
    background-color: blueviolet;
    text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 20px #ff0080, 
             0 0 40px #ff0080, 0 0 80px #ff0080;
color: #fff;

}
.begin:active{
    background-color: black;
    color: azure;
}
.Arena{
    padding: 50px;
    background-color: aliceblue;
    margin: 5px;
    cursor: pointer;
 box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
 border-width: 3px;
 border-radius: 6px;
}
.Arena:disabled{
    background-color: #1a1a1a;
    color: #ff00ff;
    cursor: not-allowed;
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.496);
    font-weight: 900;
    background: linear-gradient(145deg, #333, #1a1a1a);
    font-size: 30px;
    text-shadow: 
        0 0 5px #ff00ff, /* Glow effect */
        0 0 10px #ff00ff, 
        0 0 20px #ff00ff, 
        0 0 30px #ff00ff, 
        0 0 40px #ff00ff, 
        0 0 50px #ff00ff, 
        0 0 75px #ff00ff; /* Bigger glow */
}
.Game{
    margin: 175px auto 0;
    width: 90%;
    max-width: 600px;
    padding: 60px;  
}
.game{
    width: 90%;
    margin-left: 135px;
}
.message{
    text-align: center;
}